@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url("../fonts/Montserrat-Regular.otf");
}

:root {
  --mainColor: #000;
  --shadowColor: #fff;
}

body {
  font-family: Montserrat;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
  pointer-events: none;
}

#track-container {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

#albumart {
  border: solid 1px rgb(0 0 0 / 50%);
  width: 15vw;
  height: 15vw;
  box-shadow: 3px 3px 18px var(--shadowColor);
  border-radius: 2.5%;
}

#threejs-container {
  transform: scale(1.09);
  filter: blur(5px);
}

#track-title {
  margin: 5px 0 0 0;
  color: var(--mainColor);
  text-shadow: 1px 0px 10px var(--shadowColor);
}

#track-artist {
  margin: 5px 0 0 0;
  opacity: 0.75;
  color: var(--mainColor);
  text-shadow: 1px 0px 10px var(--shadowColor);
}

.fade-transition {
  transition: opacity 1s ease;
}
