<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="18496Starpine.Screenbox"
    Publisher="CN=ABCDF790-DBE4-48F7-8204-32FCB69ADF9C"
    Version="0.4.1.0" />

  <mp:PhoneIdentity PhoneProductId="13f69037-4fca-4b86-a6f5-a77c0969d41a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Screenbox</DisplayName>
    <PublisherDisplayName>Tung H.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Screenbox.App">
      <uap:VisualElements
        DisplayName="Screenbox"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Modern video player"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Screenbox">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="videos">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
              <uap:FileType ContentType="video/x-matroska">.mkv</uap:FileType>
              <uap:FileType ContentType="video/x-flv">.flv</uap:FileType>
              <uap:FileType ContentType="video/x-ms-wmv">.wmv</uap:FileType>
              <uap:FileType ContentType="video/x-msvideo">.avi</uap:FileType>
              <uap:FileType ContentType="video/3gpp">.3gp</uap:FileType>
              <uap:FileType ContentType="video/3gpp2">.3g2</uap:FileType>
              <uap:FileType ContentType="video/mp4">.m4v</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpg</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpeg</uap:FileType>
              <uap:FileType ContentType="video/webm">.webm</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Videos</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="audios">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mpeg">.mp3</uap:FileType>
              <uap:FileType ContentType="audio/midi">.mid</uap:FileType>
              <uap:FileType ContentType="audio/midi">.midi</uap:FileType>
              <uap:FileType ContentType="audio/aac">.aac</uap:FileType>
              <uap:FileType ContentType="audio/wav">.wav</uap:FileType>
              <uap:FileType ContentType="audio/wma">.wma</uap:FileType>
              <uap:FileType ContentType="audio/ogg">.ogg</uap:FileType>
              <uap:FileType ContentType="audio/ogg">.oga</uap:FileType>
              <uap:FileType ContentType="audio/webm">.weba</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>Audios</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="videosLibrary"/>
    <uap:Capability Name="musicLibrary"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>