<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp uap3">

  <Identity
    Name="Screenbox"
    Publisher="CN=ABCDF790-DBE4-48F7-8204-32FCB69ADF9C"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="13f69037-4fca-4b86-a6f5-a77c0969d41a" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>[Debug] Screenbox</DisplayName>
    <PublisherDisplayName>Tung H.</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Screenbox.App">
      <uap:VisualElements
        DisplayName="[Debug] Screenbox"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:ManifestResources/AppDescription"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="Screenbox">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" uap5:Optional="true" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="3gpp">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayName3GPP</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociation3GP.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/3gpp">.3gp</uap:FileType>
              <uap:FileType ContentType="video/3gpp">.3gpp</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="3gpp2">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayName3GPP2</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociation3GP.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/3gpp2">.3g2</uap:FileType>
              <uap:FileType ContentType="video/3gpp2">.3gp2</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="aac">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameAAC</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationAAC.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/aac">.aac</uap:FileType>
              <uap:FileType ContentType="audio/aac">.adts</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="avi">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameAVI</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationAVI.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/x-msvideo">.avi</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="flac">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameFLAC</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationFLAC.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/flac">.flac</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="flash">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameFlash</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationFLV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/x-flv">.flv</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="m4a">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMP4Audio</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationM4A.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mp4">.m4a</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="m4v">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMP4Video</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationM4V.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mp4">.m4v</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="matroskaaudio">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMatroskaAudio</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationMKA.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-matroska">.mka</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="matroskavideo">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMatroskaVideo</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationMKV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/x-matroska">.mkv</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="midi">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMIDI</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationMIDI.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/midi">.mid</uap:FileType>
              <uap:FileType ContentType="audio/midi">.midi</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mp3">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMP3</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationMP3.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/mpeg">.mp3</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mp4">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMP4</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationMP4.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
              <uap:FileType ContentType="video/mp4">.mpg4</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mpeg">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMPEG</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationMPEG.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mpeg">.mpg</uap:FileType>
              <uap:FileType ContentType="video/mpeg">.mpeg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ogg">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameOggAudio</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationOGG.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/ogg">.ogg</uap:FileType>
              <uap:FileType ContentType="audio/ogg">.oga</uap:FileType>
              <uap:FileType ContentType="audio/opus">.opus</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="ogv">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameOggVideo</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationOGV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/ogg">.ogv</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="quicktime">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameQuickTime</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationMOV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/quicktime">.mov</uap:FileType>
              <uap:FileType ContentType="video/quicktime">.qt</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="wave">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWave</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationWAV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/wav">.wav</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="webaudio">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWebAudio</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationWEBA.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/webm">.weba</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="webmedia">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWebMedia</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationWEBM.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/webm">.webm</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="wma">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWindowsMediaAudio</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Audio\FileAssociationWMA.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-ms-wma">.wma</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="wmv">
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWindowsMediaVideo</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationWMV.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/x-ms-wmv">.wmv</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="m3u8">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/vnd.apple.mpegurl">.m3u8</uap:FileType>
              <uap:FileType ContentType="audio/mpegurl">.m3u</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameM3U8</uap:DisplayName>
            <uap:Logo>Assets\Icons\Playlist\FileAssociationPlaylist.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="mpeg-ts">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="video/mp2t">.ts</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.m2t</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.m2ts</uap:FileType>
              <uap:FileType ContentType="video/mp2t">.mts</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameMPEGTS</uap:DisplayName>
            <uap:Logo>Assets\Icons\Playlist\FileAssociationPlaylist.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="wavpack">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/x-wavpack">.wv</uap:FileType>
              <uap:FileType ContentType="audio/x-wavpack-correction">.wvc</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameWavPack</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
            <uap:Logo>Assets\Icons\Video\FileAssociationWV.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="aiff">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="audio/aiff">.aiff</uap:FileType>
              <uap:FileType ContentType="audio/aiff">.aif</uap:FileType>
              <uap:FileType ContentType="audio/aiff">.aifc</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>ms-resource:ManifestResources/FileDisplayNameAIFF</uap:DisplayName>
            <uap:EditFlags OpenIsSafe="true"/>
          </uap:FileTypeAssociation>
        </uap:Extension>
       </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="videosLibrary"/>
    <uap:Capability Name="musicLibrary"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>