<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>uni0000</key>
    <string>uni0000.glif</string>
    <key>uni000D</key>
    <string>uni000D_.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uniE62E</key>
    <string>uniE_62E_.glif</string>
    <key>uniE74D</key>
    <string>uniE_74D_.glif</string>
    <key>uniE768</key>
    <string>uniE_768.glif</string>
    <key>uniE769</key>
    <string>uniE_769.glif</string>
    <key>uniE838</key>
    <string>uniE_838.glif</string>
    <key>uniE8B1</key>
    <string>uniE_8B_1.glif</string>
    <key>uniE8B2</key>
    <string>uniE_8B_2.glif</string>
    <key>uniE8B7</key>
    <string>uniE_8B_7.glif</string>
    <key>uniE8D6</key>
    <string>uniE_8D_6.glif</string>
    <key>uniE8ED</key>
    <string>uniE_8E_D_.glif</string>
    <key>uniE8EE</key>
    <string>uniE_8E_E_.glif</string>
    <key>uniE8F4</key>
    <string>uniE_8F_4.glif</string>
    <key>uniE93D</key>
    <string>uniE_93D_.glif</string>
    <key>uniE93F</key>
    <string>uniE_93F_.glif</string>
    <key>uniEB24</key>
    <string>uniE_B_24.glif</string>
    <key>uniEC48</key>
    <string>uniE_C_48.glif</string>
    <key>uniEC49</key>
    <string>uniE_C_49.glif</string>
    <key>uniEC4A</key>
    <string>uniE_C_4A_.glif</string>
    <key>uniEE47</key>
    <string>uniE_E_47.glif</string>
    <key>uniEE49</key>
    <string>uniE_E_49.glif</string>
    <key>uniEE71</key>
    <string>uniE_E_71.glif</string>
    <key>uniF2CE</key>
    <string>uniF_2C_E_.glif</string>
    <key>uniF5B0</key>
    <string>uniF_5B_0.glif</string>
    <key>uniF5E7</key>
    <string>uniF_5E_7.glif</string>
    <key>uniF5EB</key>
    <string>uniF_5E_B_.glif</string>
    <key>uF0021</key>
    <string>uF_0021.glif</string>
    <key>uF0022</key>
    <string>uF_0022.glif</string>
    <key>uF002A</key>
    <string>uF_002A_.glif</string>
    <key>uF002B</key>
    <string>uF_002B_.glif</string>
    <key>uF0036</key>
    <string>uF_0036.glif</string>
    <key>uF004D</key>
    <string>uF_004D_.glif</string>
    <key>uF004E</key>
    <string>uF_004E_.glif</string>
    <key>uF006F</key>
    <string>uF_006F_.glif</string>
    <key>uF00A4</key>
    <string>uF_00A_4.glif</string>
    <key>uF00FC</key>
    <string>uF_00F_C_.glif</string>
    <key>uF010D</key>
    <string>uF_010D_.glif</string>
    <key>uF010E</key>
    <string>uF_010E_.glif</string>
    <key>uF0127</key>
    <string>uF_0127.glif</string>
  </dict>
</plist>
